/* Файл blocks/page-header.scss */

.page-header {
  display: flex;
  flex-direction: column;

  @include no-outline();
}

.page-header__logo {
  height: 85px;
  background: rgba(255, 255, 255, 0.5);

  @include no-outline();
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}
